<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/img/pexels-sora-shimazaki-56685.jpg"
        class="d-block w-100"
        alt="smart capital"
      />
      <div class="carousel-caption d-md-block">
        <h1>Smart Capital</h1>
        <h2>Projects & Business Management</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/pexels-sora-shimazaki-566.jpg"
        class="d-block w-100"
        alt="smart capital"
      />
      <div
        class="carousel-caption d-md-block text-white"
        style="border: 2px solid white"
      >
        <h1>Smart Capital</h1>
        <h2>Projects & Business Management</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/pexels-sora-shimazaki-5668492.jpg"
        class="d-block w-100"
        alt="smart capital"
      />
      <div class="carousel-caption d-md-block">
        <h1>Smart Capital</h1>
        <h2>Projects & Business Management</h2>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="plygon" id="About">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
